.container {
    article ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 31px;
        padding-bottom: 22px;
        padding-right: 25px;
        padding-top: 22px;
        padding-left: 42px;
        background: #FFFFFE;
        border-radius: 5px;
        li {
            svg {
                width: 28px;
                height: 28px;
            }
        }
        .profile_list {
            margin-right: 10px;
            img {
                width: 92px;
                height: 94px;
                border-radius: 5px;
            }
        }
        .text_content {
            h2 {
                font-size: 30px;
                line-height: 43px;
                color: #000000;
                max-width: 300px;
                text-align: left;
                white-space: nowrap;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                @media(max-width: 400px) {
                    white-space: normal;
                }
            }
            p {
                font-size: 24px;
                line-height: 28px;
                color: #5F6C7B;
                span {
                    color: #EF4565;
                }
                @media(max-width: 400px) {
                    white-space: normal;
                }
            }
        }
        li:last-of-type {
            ul {
                display: flex;
                flex-direction: column;
                margin-bottom: 0;
                padding: 0;
                li {
                    svg {
                        cursor: pointer;
                    }
                }
                li:first-of-type {
                    padding-bottom: 10px;
                    line-height: 28px;
                    padding-bottom: 0;
                    font-size: 24px;
                    color: #5F6C7B;
                    padding-bottom: 20px;
                }
                li:last-of-type {
                    display: flex;
                    flex-direction: row;
                    align-self: flex-end;
                    justify-content: space-between;
                    margin-bottom: 0;
                    @media(max-width: 450px) {
                        align-self: flex-start;
                    }
                    .delete {
                        svg {
                            color: red;
                        }
                    }
                    .edit {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    article:hover {
        box-shadow: 0px 0px 6px black;
    }
}

@media(min-width: 660px) {
    .container {
        article {
            ul {
                .text_content {
                    margin-right: auto;
                    h2 {
                        font-size: 36px;
                        line-height: 43px;
                    }
                    p {
                        font-size: 24px;
                        line-height: 28px;
                        span {
                            font-size: 24px;
                            line-height: 28px;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 720px) {
    .container {
        article {
            ul {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: baseline;
                li:first-of-type {}
                .text_content {
                    padding-left: 39px;
                }
            }
        }
    }
}