.extra_wrapper {
    max-width: 400px;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    padding: 20px;
    background-color: #0000009e;
    border-radius: 8px;
    .text {
        h2 {
            color: #e2eaf0;
            font-size: 30px;
            line-height: 32px;
            padding-bottom: 10px;
        }
    }
    .btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        button {
            outline: none;
            cursor: pointer;
            width: 151px;
            padding-left: 20px;
            padding-top: 14px;
            padding-bottom: 15px;
            border-radius: 5px;
            font-size: 18px;
            line-height: 21px;
            border: none;
            margin-bottom: 10px;
        }
        .remove_btn {
            background: #EF4565;
            color: #FFFFFE;
        }
        .cancel_btn {
            color: #5F6C7B;
            border-radius: 5px;
            background: #FFFFFF;
            box-sizing: border-box;
            border: 2px solid #5F6C7B;
        }
    }
}