.form {
    .form_lists {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        padding-top: 10px;
        font-family: "Rubik";
        font-weight: 500;
        padding-bottom: 30px;
        li {
            font-style: normal;
            label {
                font-size: 20px;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #094067;
                margin-bottom: 13px;
            }
        }
        .name_list {
            .input_name {
                max-width: 264px;
                margin: auto;
                input {
                    padding: 12px;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    width: 90%;
                    margin-bottom: 17px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #5F6C7B;
                    margin-right: 20px;
                    @media(max-width: 310px) {
                        margin-right: 0;
                    }
                }
                @media(max-width: 320px) {
                    max-width: 100%;
                    margin: auto;
                }
            }
        }
        .month_list {
            .select_month {
                select {
                    padding: 12px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    font-size: 18px;
                    line-height: 21px;
                    color: #5F6C7B;
                    margin-bottom: 17px;
                    width: 90%;
                }
            }
        }
        .adding_list {
            .add {
                padding: 12px;
                background: #EF4565;
                border-radius: 5px;
                margin-bottom: 17px;
                cursor: pointer;
                outline: none;
                border: none;
                font-family: "Rubik";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFE;
            }
        }
    }
}

// .form {
//     .form_lists {
//         li {
//             select {
//                 padding: 12px;
//                 border-radius: 5px;
//                 border: none;
//                 cursor: pointer;
//                 outline: none;
//                 font-size: 18px;
//                 line-height: 21px;
//                 color: #5F6C7B;
//                 margin-bottom: 17px;
//             }
// button {
//     padding: 12px;
//     background: #EF4565;
//     border-radius: 5px;
//     margin-bottom: 17px;
//     cursor: pointer;
//     outline: none;
//     border: none;
//     font-family: "Rubik";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 21px;
//     color: #FFFFFE;
// }
//         }
//     }
// }