.header {
    padding: 0 16px;
    .title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 66px;
        color: #094067;
        padding-top: 42px;
        padding-bottom: 42px;
        @media(max-width: 320px) {
            font-size: 34px;
            line-height: 46px;
        }
    }
}

@media(min-width: 720px) {
    body {
        .header {
            padding: 0px 0px;
            .title {
                margin: 0;
                max-width: 800px;
                margin: auto;
            }
        }
    }
}