.header {
    padding: 0 16px;
    .title {
        font-family: "Rubik";
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 76px;
        color: #094067;
        padding-top: 63px;
        padding-bottom: 42px;
    }
}

@media(min-width: 720px) {
    body {
        .header {
            padding: 0px 0px;
            .title {
                margin: 0;
                max-width: 800px;
                margin: auto;
            }
        }
    }
}