@font-face {
	font-family: "Rubik";
	src: local(Rubik), 
	url(/fonts/Rubik-Regular.woff2) format("woff2"), 
	url(/fonts/Rubik-Regular.woff) format("woff"), 
  }


body {
	font-family: sans-serif;
	background: #D8EEFE;
	margin: 0;
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
		}
	}
	a {
		text-decoration: none;
	}
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}
	h1 {
		font-family: "Rubik";
		font-style: normal;
		font-weight: bold;
		font-size: 64px;
		line-height: 76px;
		color: #094067;	
		padding-top: 63px;
		padding-bottom: 42px;
		margin: 0 16px;
	}
	.main {
		padding: 0 16px;
		.new_list ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: flex-end;
			padding-top: 10px;
			font-family: "Rubik";
			font-weight: 500;
			padding-bottom: 30px;
			li {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-style: normal;
				label {
					padding-bottom: 13px;
					font-size: 20px;
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 21px;
					color: #094067;
				}
				input {
					padding: 12px;
					border-radius: 5px;
					border: none;
					outline: none;
					cursor: pointer;
					width: 100%;
					margin-bottom: 17px;
					font-weight: 500;
					font-size: 18px;
					line-height: 21px;
					color: #5F6C7B;

				}
				select {
					padding: 12px;
					border-radius: 5px;
					border: none;
					cursor: pointer;
					outline: none;
					font-size: 18px;
					line-height: 21px;
					color: #5F6C7B;
					margin-bottom: 17px;
				}
				button {
					padding: 12px;
					background: #EF4565;
					border-radius: 5px;
					margin-bottom: 17px;
					cursor: pointer;
					outline: none;
					border: none;					
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 21px;
					color: #FFFFFE;

				}
			}
		}
		.container  {
			article ul {
				display: flex;
				flex-direction: row;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 31px;
				padding-bottom: 22px;
				padding-right: 25px;
				padding-top: 22px;
				padding-left: 42px;
				background-color: white;
				justify-content: space-between;
				border-radius: 4px;
				li {
					font-family: "Rubik";
					font-style: normal;
					font-weight: 500;
					img {
						width: 92px;
						height: 94px;
						border-radius: 5px;
					}
					svg {
						width: 40px;
					}
				} 
				li:nth-of-type(2) {	
					padding-left: 4px;
					h2 {	
						font-size: 36px;
						line-height: 43px;
						color: #000000;
					}
					p {
						font-size: 24px;
						line-height: 28px;
						color: #5F6C7B;
						span {
							font-size: 24px;
							line-height: 28px;
							color: orangered;
						}
					}
				}
				li:last-of-type {	
					ul {
						display: flex;
						flex-direction: column;
						margin-bottom: 0;
						padding: 0;
						li:first-of-type {
							padding-bottom: 10px;
							line-height: 28px;
							padding-bottom: 0;
							font-size: 24px;
							color: #5F6C7B;
							padding-bottom: 20px;
						}
						li:last-of-type {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: space-between;
							margin-bottom: 0;
							.delete {
								svg {
									color: red;
								}
							}
							.edit {
								margin-right: 20px;
							}
						}
					}
				}
			}
		}
	}
	.popup {
		background: white;
		position: fixed;
		height: 100vh;
		width: 100vw;
		transition: all 0.25s;
		top: 0;
		display: grid;
		justify-content: center;
		align-items: center;
		pointer-events: none;
		--opacity: 1;
		opacity: var(--opacity);
		z-index: 1;
		fieldset {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background: var(--grey);
			border: 3px solid var(--pink);
			box-shadow: var(--box-shadow);
			transition: all 0.2s;
			--scale: 0.3;
			transform: scale(var(--scale));
			ul {
				li {
					display: flex;
					flex-direction: column;
					input {
						margin-bottom: 5px;
						padding: 10px;
						border: none;
						background: #D8EEFE;
						border-radius: 5px;
						outline: none;
					}
				}
				li:last-of-type {
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					.submit, .cancel {
						padding: 8px 16px;
					}
					.submit {
						margin-right: 20px;
					}
				}
			}
		}
	}
}
.popup.open {
	--opacity: 1;
	pointer-events: all;
	fieldset {
		--scale: 1;
		font-family: "Rubik";
		font-style: normal;
		font-weight: 500;
		ul {
			li {
				padding-bottom: 10px;
				color: #094067;
				h2 {
					padding-top: 0;
					font-size: 48px;
					line-height: 57px;
					color: #094067;
				}
				label {
					font-size: 18px;
					line-height: 21px;
					color: #094067;
					padding-bottom: 8px;
				}
				input {
					font-size: 18px;
					line-height: 21px;
					color: #094067;
					padding-bottom: 14px;
					padding-top: 15px;
					padding-right: 20px;
					width: 60%;
				}
			}
			li:last-of-type {
				button {
					border: none;
					outline: none;
					cursor: pointer;
					padding-right: 20px;
					padding-bottom: 15px;
					padding-top: 14px;
					margin-bottom: 10px;
					width: 151px;
				}
				.submit {
					background: #EF4565;
					border-radius: 5px;
					font-size: 18px;
					line-height: 21px;
					color: #FFFFFE;
				}
				.cancel {
					font-size: 18px;
					line-height: 21px;
					color: #5F6C7B;
					background: #FFFFFF;
					border: 2px solid #5F6C7B;
					box-sizing: border-box;
					border-radius: 5px;
				}
			} 
		}
	}
	.extra_wrapper {
		max-width: 400px;
		font-family: "Rubik";
		font-style: normal;
		font-weight: 500;
		li:first-of-type {
			h2 {
				color: #094067;
				font-size: 32px;
				line-height: 35px;
				padding-bottom: 10px;
			}
		} 
		li:nth-of-type(2) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			button {
				outline: none;
				cursor: pointer;
				width: 151px;
				padding-left: 20px;
				padding-top: 14px;
				padding-bottom: 15px;
				border-radius: 5px;
				font-size: 18px;
				line-height: 21px;
				border: none;
				margin-bottom: 10px;
			}
			.delete {
				background: #EF4565;
				color: #FFFFFE;
			}
			.cancel {
				color: #5F6C7B;
				border-radius: 5px;
				background: #FFFFFF;
				box-sizing: border-box;
				border: 2px solid #5F6C7B;
			}
		}
	}
	.wrapper {
		padding: 20px 40px;
		background-color: white;
		border-radius: 5px;
		font-family: "Rubik";
		font-style: normal;
		font-weight: 500;
		li {
			margin-bottom: 1rem;
			label {
				font-size: 18px;
				line-height: 21px;
				color: #094067;
				margin-bottom: 8px;
			}
			input {
				border: none;
				background: #D8EEFE;
				border-radius: 5px;
				outline: none;
				font-size: 18px;
				line-height: 21px;
				color: #094067;
				padding-top: 14px;
				padding-bottom: 15px;
				padding-left: 20px;
				width: 100%;
			}
			button {
				outline: none;
				cursor: pointer;
				width: 151px;
				padding-left: 20px;
				padding-top: 14px;
				padding-bottom: 15px;
				border-radius: 5px;
				font-size: 18px;
				line-height: 21px;
				margin-bottom: 10px;
				border: 2px solid #5F6C7B;
			}
			.save {
				background: #EF4565;
				color: #FFFFFE;
				margin-right: 20px;
				border: none;
			}
			.cancel {
				color: #5F6C7B;
				border-radius: 5px;
				background: #FFFFFF;
				box-sizing: border-box;
			}
		}
	}
}


@media(min-width: 720px) { 
	body {
		h1 {
			margin: 0;
			max-width: 800px;
			margin: auto;
		}
		main {
			padding: 0;
			max-width: 800px;
			margin: auto;
		}
	}
}