body {
    font-family: sans-serif;	
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	color: white;
	text-transform: capitalize;
}

img {
    border-radius: 50%;
}

.container > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color:rgba(255, 166, 0, 0.653);
    padding: 1rem;
    border-radius: 10px;
}

button {
    border: none;
	background-color:rgb(255, 255, 255);
}

.popup button {
    border: none;
	background-color: rgb(220, 220, 0);
	border-radius: 5px;
}

svg {
	height: 25px;
	color: #ff8e3c;
}

.popup {
	background: hsla(0, 0%, 30%);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
    pointer-events: none;
    --opacity: 1;
    opacity: var(--opacity);
    z-index: 1;
}

.popup fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--grey);
	padding: 1rem 4rem;
	border: 3px solid var(--pink);
	border-radius: 8px;
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
    --scale: 0.3;
	transform: scale(var(--scale));
}

.popup fieldset input {
	margin-bottom: 1rem;
	padding: .5rem;
	border-radius: 5px;
	border: none;
}

.popup fieldset button {
	color: white;
	font-size: 28px;
}

.popup.open {
	--opacity: 1;
	pointer-events: all;
}

.popup.open fieldset {
	--scale: 1;
	background-color: rgb(97, 2, 2);
}

label {
    display: inline-block;
	color: white;
	margin-bottom: 0;
}

.add {
	margin: 1rem;
	border-radius: 6px;
	background-color: blue;
	padding: .5rem 1rem;
}

li {
	list-style: none;
	margin-bottom: .5rem;
}

.wrapper {
	padding: 1rem;
	background-color: cadetblue;
	border-radius: 5px;
	box-shadow: 2px 2px 2px wheat;
}

.wrapper button {
	padding: .5rem 1rem;
}

.wrapper input {
	padding: .5rem;
	border-radius: 6px;
	border: none;
	background-color: wheat;
}