body {
	font-family: sans-serif;
	background: #D8EEFE;;
	margin: 0;
	max-width: 95%;
	margin: auto;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	/* font-family: Rubik; */
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 76px;
	color: #094067;
}

/* label {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #094067;
	padding-bottom: 13px;
} */

.new_list ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-end;
	padding-top: 10px;
	margin-bottom: 20px;
}

.new_list ul li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 10px;
	font-style: normal;
}
.new_list ul label {
	padding-bottom: 10px;
	font-size: 20px;
}

.new_list ul li input {
	padding: 12px;
	border-radius: 5px;
	border: none;
	outline: none;
	cursor: pointer;
	/* font-family: Rubik; */
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #5F6C7B;
}

.new_list ul li select {
	padding: 12px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	outline: none;
	/* font-family: Rubik; */
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #5F6C7B;
}

.container > article ul {
    display: flex;
    flex-direction: row;
    align-items: center;
	margin-bottom: 1rem;
	padding: 3% 4%;
    background-color: white;
	justify-content: space-between;
	border-radius: 4px;
}
.container > article ul li img {
	width: 100%;
	border-radius: 10px;
}

.article ul li:last-of-type {	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.article ul li:nth-of-type(2) {	
	/* font-family: Rubik; */
	font-style: normal;
	font-weight: 500;
}
.article ul li:nth-of-type(2) h2 {	
	font-size: 20px;
	color: #000000;
	padding-bottom: 10px;
}
.article ul li:nth-of-type(2) span {	
	font-size: 16px;
	color: #5F6C7B;
}
.article ul li:last-of-type div:first-of-type {
	margin-right: 20px;
}

button {
    border: 0;
	line-height: 2.5;
	padding: 0 10px;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: blue;
	background-image: linear-gradient(to top left,
	rgba(0, 0, 0, .2),
	rgba(0, 0, 0, .2) 30%,
	rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
				inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.popup button {
	border: 0;
	line-height: 1.5;
	padding: 20 10px;
	font-size: 1rem;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: blue;
	background-image: linear-gradient(to top left,
	rgba(0, 0, 0, .2),
	rgba(0, 0, 0, .2) 30%,
	rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
				inset -2px -2px 3px rgba(0, 0, 0, .6);
}

svg {
	height: 25px;
	fill: orangered;
}

.popup {
	background: hsla(0, 0%, 30%);
	position: fixed;
	height: 100vh;
	width: 100vw;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
    pointer-events: none;
    --opacity: 1;
    opacity: var(--opacity);
    z-index: 1;
}

.popup fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: var(--grey);
	border: 3px solid var(--pink);
	box-shadow: var(--box-shadow);
	transition: all 0.2s;
    --scale: 0.3;
	transform: scale(var(--scale));
	color: white;
	padding: 30px;
}

.popup fieldset ul li {
	display: flex;
	flex-direction: column;
}
.popup fieldset ul li:last-of-type {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.popup fieldset ul li:last-of-type .submit, .cancel {
	padding: 8px 16px;
}
.popup fieldset input {
	margin-bottom: 5px;
	padding: 10px;
	border-radius: 5px;
	border: none;
}

.popup.open {
	--opacity: 1;
	pointer-events: all;
}

.popup.open fieldset {
	--scale: 1;
	background: hsla(0, 0%, 30%);
	box-shadow: 0px 0px 4px black;
}
.popup.open fieldset label {
	color: white;
	padding-bottom: 0;
	/* font-family: Rubik; */
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
}
.popup.open fieldset ul li {
	padding-bottom: 10px;	
}
.popup.open fieldset ul li input {
	/* font-family: Rubik; */
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #094067;
}
.popup.open fieldset ul li:last-of-type .submit {
	margin-right: 20px;
}

.wrapper {
	padding: 1rem;
	background-color: cadetblue;
	border-radius: 5px;
	box-shadow: 2px 2px 2px wheat;
}

.wrapper ul li {
	margin-bottom: 1rem;
}

.wrapper button {
	padding: .5rem 1rem;
}

.wrapper input {
	padding: .5rem;
	border-radius: 6px;
	border: none;
	background-color: wheat;
}

.extra_wrapper {
	max-width: 300px;
    background-color: transparent;
    padding: 1rem;
	box-shadow: 0px 0px 10px black;
}
.extra_wrapper li:first-of-type h2 {
	color: white;
    padding-bottom: 10px;
}
.extra_wrapper li:nth-of-type(2) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


@media(min-width: 720px) {
	body {
		max-width: 650px;
		margin: auto;
	}
}